<div class="flex flex-col h-screen w-[240px] justify-start">
  <div class="h-full bg-orange-200 rounded-lg">
    <div class="flex flex-col">
      <h1 class="mt-6 mb-4 ml-5 text-3xl font-bold text-left">OrderUp</h1>
    </div>
    <div class="flex flex-col">
      <a href="/orders" class="side-button">Orders</a>
      <a href="/payments" class="side-button">Payments</a>
      <a href="/templates" class="side-button">Templates</a>
      <a href="#" class="side-button" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
