h1 {
  @apply text-3xl font-bold text-left mt-6;
}

.card-title {
  @apply text-xl font-bold text-gray-700;
}

.order-card {
  @apply bg-white hover:bg-gray-50 py-4 pl-4;
  @apply border-gray-200 border-b;
  @apply cursor-pointer;
  @apply bg-no-repeat bg-left;
}

.order-card-transition {
  @apply py-4 pl-4 rounded cursor-pointer;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 50%, gray 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
}

.order-card-transition:hover {
  background-position: -100% 0;
}
