<form action="" class="card-form" [formGroup]="groupForm">
  <h1 class="card-form-title">Create a new group</h1>
  <input
    class="card-form-input"
    type="text"
    placeholder="group name"
    formControlName="name"
  />
  <!-- <input class="card-form-input" type="text" placeholder="group name" /> -->

  <input
    class="card-form-input"
    type="text"
    placeholder="add users by their email"
    formControlName="email"
  />

  <div class="flex flex-row justify-end mb-2">
    <input
      class="p-1 px-4 text-white action-btn"
      type="button"
      (click)="onSearch()"
      name="addMember"
      id="addMemberBtn"
      value="Add Member"
    />
    <input
      class="p-1 px-4 text-white action-btn"
      type="button"
      (click)="onSubmit()"
      name="submitBtn"
      id="submitBtn"
      value="Create Group"
    />
  </div>
</form>

<div *ngFor="let user of selectedUsers">
  <p>{{ user.firstName }} {{ user.lastName }}</p>
  <p>{{ user.email }}</p>
</div>
