<form class="card-form" (ngSubmit)="handleSubmit()" [formGroup]="orderForm">
  <h1 class="card-form-title">Create an Order</h1>
  <div class="flex flex-col">
    <input
      formControlName="name"
      class="card-form-input"
      type="text"
      placeholder="order name"
    />
    <select class="w-full py-1 mb-2 border border-gray-200 rounded" formControlName="groupId">
      <option [ngValue]="group.id" *ngFor="let group of availableGroups">
        <p>{{ group.name }}</p>
      </option>
    </select>
    <textarea rows="5" class="card-form-input"></textarea>
    <div class="flex flex-row justify-end mb-2">
      <input
        class="p-1 px-4 text-white action-btn"
        type="submit"
        name="submitBtn"
        id="submitBtn"
        value="Create"
      />
    </div>
  </div>
</form>
