<form
  class="bg-white rounded border border-gray-300 px-12 py-6 w-[420px]"
>
  <h1 class="text-xl font-bold my-4">Create an Order</h1>
  <div class="flex flex-col">
    <input
      class="mb-2 w-full p-1 border border-gray-200 rounded"
      type="text"
      placeholder="order name"
    />
    <select class="mb-2 w-full py-1 border border-gray-200 rounded">
      <option value="actual value 1">Display Text 1</option>
      <option value="actual value 2">Display Text 2</option>
      <option value="actual value 3">Display Text 3</option>
    </select>
    <div class="mb-2 flex flex-row justify-end">
      <input
        class="p-1 px-4 bg-blue-600 text-white cursor-pointer rounded"
        type="submit"
        name="submitBtn"
        id="submitBtn"
        value="Create"
      />
    </div>
  </div>
</form>
